@charset "utf-8";
/* CSS Document */

body {padding:0; margin:0; font-size:12px; font-family:"宋体";}

h1,h2,h3,h4,h5,h6,p,form,div,dl,dd,dt,ul,li,input,img {padding:0; margin:0; list-style-type:none; border:0; border:none;}

.clear {height:0px; overflow:hidden; clear:both;}

a { text-decoration:none; color:#454545;}

.menu {background:url(images/htsy_48.gif) left top repeat-y; width:156px; padding:0px 7px;}

.menu h1 {color:#111111; font-size:12px; height:28px; line-height:28px; padding:0 0 0 26px; background:url(images/close_jt.gif) 10px 8px no-repeat; cursor:pointer;}
.menu h1 a {color:#111;}

.menu dl {background:url(images/line_bg.gif) left top no-repeat; padding-top:2px;}
.menu dt {color:#111111; font-weight:bold; height:28px; line-height:28px; padding:0 0 0 26px; background:url(images/close_jt.gif) 10px 8px no-repeat; cursor:pointer;}

.menu dt.opendt {background:url(images/show_jt.gif) 10px 8px no-repeat;}

.menu dd {line-height:24px; padding-bottom:8px;}
.menu dd a {height:22px; margin:1px 0; padding:0 26px; display:block; color:#3f4d6a;}
.menu dd a:hover {background:#d8dde9; color:#3267ad;}

